<h3 id="heading">Welcome to Angular Cookies</h3>
<img id="cookie" src="../assets/cookie.jpeg">

<div class="card">
    <div class="card-header">
        <h5 class="input-label">Retrieve Cookie Data</h5>
    </div>
    <div class="card-body">
        <input type="text" class="form-control" placeholder="Key" [(ngModel)]="getKey">
        <button class="btn btn-primary" id="get-button" (click)="getTheValue(getKey)">Show Value</button>
    </div>
</div>

<h4 id="shown-value" *ngIf="show">{{getValue}}</h4>
<div class="card">
    <div class="card-header">
        <h5 class="input-label">Set Cookie Data</h5>
    </div>
    <div class="card-body">
        <div class="card-text">
            <input type="text" class="form-control" placeholder="Key" [(ngModel)]="setKey">
            <input type="text" class="form-control" placeholder="Value" [(ngModel)]="setValue">
            <input type="number" class="form-control" placeholder="Expiration" [(ngModel)]="expireNumber">
            <button class="btn btn-primary" (click)="setTheValue(setKey, setValue, expireNumber)">Set Value</button>
        </div>
    </div>
</div>