#cookie {
    height: 15em;
    display: block;
    margin: auto;
    padding-top: 1em;
}

#heading {
    text-align: center;
    margin-top: 1em;
}

#set-card {
    margin-bottom: 2em;
}

#shown-value {
    margin-top: 1em;
    text-align: center;
}

.btn {
    margin-left: 1em;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 50em;
    border-radius: 10px;
}

.form-control {
    width: 40em;
    margin: 1em;
}

.input-label {
    margin-left: 1em;
    margin-bottom: 0;
}