#cookie {
    height: 15em;
    display: block;
    margin: auto;
    padding-top: 1em;
}

#get-button {
    margin-bottom: 1em;
}

#heading {
    text-align: center;
    margin-top: 1em;
}

#shown-value {
    text-align: center;
}

.btn {
    margin-left: 1em;
}

.card {
    margin: auto;
    width: 50em;
    border-radius: 10px;
}

.form-control {
    width: 40em;
    margin: 1em;
}

.input-label {
    margin-left: 1em;
    margin-bottom: 0;
}